---
layout: null
permalink: /search.json
---
[
{% assign blog_pages = site.pages | where: "layout", "blog-post-layout" %}
{% assign learning_pages = site.pages | where: "layout", "learning-post-layout" %}
{% assign topic_pages = site.pages | where: "layout", "learning-topic-layout" %}

{% assign pages_to_index = blog_pages | concat: learning_pages | concat: topic_pages %}
{% assign all_docs = site.posts | concat: pages_to_index %}

{% assign valid_docs = all_docs | where_exp: "doc", "doc.title != nil" %}

{% for doc in valid_docs %}
{
"title" : "{{ doc.title | escape }}",
"category" : "{{ doc.category }}",
"tags" : "{{ doc.tags | join: ', ' }}",
"url" : "{{ site.baseurl }}{{ doc.url }}",
"date" : "{{ doc.date | date: '%B %-d, %Y' }}",
"content" : {% if doc.description %}{{ doc.description | strip_html | strip_newlines | jsonify }}{% elsif doc.intro %}{{
doc.intro | strip_html | strip_newlines | jsonify }}{% else %}{{ doc.content | strip_html | strip_newlines |
truncatewords: 50 | jsonify }}{% endif %}
} {% unless forloop.last %},{% endunless %}
{% endfor %}
]