<table>
  <td><img src="assets/images/weiqin.png" alt="王伟钦的照片" height="180px"></td>
  <td>
    <div>
      <h1>王伟钦 <font size="5" ; font style="font-family:KaiTi">(Weiqin Wang)</font>
      </h1>
      <b>硕士研究生</b><br />
      <a href="https://csse.szu.edu.cn/" target="_blank">深圳大学计算机与软件学院</a><br />
      <br />
      <b>邮箱</b>: here1swqw@gmail.com<br />
    </div>
  </td>
</table>

<p>王伟钦，现为深圳大学计算机与软件学院硕士研究生（2025年推荐免试录取），导师为<a href="https://ylwangy.github.io/"
    target="_blank">王祎乐</a>助理教授。主要研究方向为人工智能、自然语言处理与大语言模型。</p>