<!doctype html>
<html lang="{{ page.lang | default: 'en' }}">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/assets/images/nailong.ico" type="image/jpeg">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .wrapper {
            padding: 0 40px;
        }
    </style>
</head>

<body>
    {% include navigation.html %}

    <div class="wrapper">
        <section>

            <!-- Language switch link -->
            <div style="text-align: right; margin-bottom: 10px;">
                {% assign ui = site.data.ui_text[page.lang] %}
                <a href="{{ page.translate_url | default: ui.language_url }}"
                    style="text-decoration: none; color: #0066cc;">{{
                    ui.language_name }}</a>
            </div>

            {{content}}

        </section>
    </div>
    <script src="/assets/javascripts/scale.fix.js"></script>
</body>

</html>