<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="assets/images/nailong.ico" type="image/jpeg">
</head>

<body>
  <div class="wrapper">
    <section>

      <!-- 语言切换链接 -->
      <div style="text-align: right; margin-bottom: 10px;">
        <a href="index.html" style="text-decoration: none; color: #0066cc;">English</a>
      </div>

      {%include bio-cn.html %}

      {{content}}

    </section>
  </div>
  <script src="assets/javascripts/scale.fix.js"></script>
</body>

</html>